<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/assignments/style.css" type="text/css">
    </head>
    <body>
        <%- include('../partials/assignment-header') %>
        <div class="body-data">
            <div class="explanation">Sending <%= type %> at <%= weight %> oz. will cost $<%= result %></div>
        </div>
    </body>
</html>